.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.mini-container{
    text-align: center;
    width: 50%;
    height: fit-content;
    border-bottom:black 2px solid;
}

.mini-container button{
    margin: 15px;
}

.job-container{
    width: 50%;
    height: 20%;
    overflow-y: scroll ;
    display: block;
    background-color: black;
}

.job-card{
    display: inline-flex;
    flex-wrap: 1;
    color: white;
    margin: 15px;
    width: 100%;
}

.job-text{
    margin-right: 15%;
    
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

mat-table{
    margin-top: 2px;
    width: 50%;
    height: 50%;
    overflow-y: scroll;
}

mat-header-cell {
    display:flex;
    justify-content:center;
   }

mat-cell{
    display: flex;
    justify-content: center;
}