table {
    width: 100%;
    
  }
  
  .container{
      height: 100%;
      width: 100%;
  }

  td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.mat-elevation-z8{
    align-self: center;
    align-content: center;
    align-items: center;
}